/* Form CSS from https://codepen.io/markmurray/pen/JsAhx/ */

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ac4142;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #000000;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #ac4142;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #000000;
}

input::placeholder, textarea::placeholder {
  color: #ac4142;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #000000;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #ac4142;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #000000;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #000000;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #000000;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #000000;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #000000;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #000000;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #000000;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #000000;
}

#form {
  position: relative;
  width: 80%;
  margin: 50px auto 100px auto;
}

input {
  font-size: 0.875em;
  width: 100%;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #ac4142;
  
  border: solid 1px #000000;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  color: #000000;
}

textarea {
  width: 100%;
  max-width: 100%;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #ac4142;
  font-size: 0.875em;
  
  border: solid 1px #000000;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  color: #000000;
}

#submit {
  width: 100%;
  
  padding: 0;
  margin: -7px 0px 0px 0px;
  
  font-size: 0.875em;
  color: #ac4142;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #000000;
  border-top: none;
}

#submit:hover {
  color: #000000;
}