.social-icons a {
    color: rgba(255, 255, 255, 0.6);
    padding-right: 1em;
}

.social-icons a:hover {
    text-decoration: none;
}

hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.post-excerpt {
    text-align: right;
}