.contact-list {
    color: rgba(255, 255, 255, 0.6);
    text-align:center
}

.contact-list a:hover {
    text-decoration: none;
}

.excerpt-post {
    text-align: right;
}

hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.sidebar-description {
    color: white;
}

.sidebar {
    opacity: 0.85;
}

.sidebar:hover {
    opacity: 1.0;
}

.sidebar-logo {
    padding: 1.5rem;
}

.sidebar-logo img {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 160px;
    margin: 0 auto;
}