<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-logo">
    <img src="{{ site.github.repo }}/public/imgs/profilepic.png" alt="Profile Picture"/>
  </div>

  <div class="contact-list">
    <a href="https://github.com/robgoyal">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-github-alt fa-stack-1x"></i>
      </span>
    </a>

    <a href="https://www.linkedin.com/in/robingoyal">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-stack-1x"></i>
      </span>
    </a>

    <a href="mailto:{{ site.author.email }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-envelope fa-stack-1x"></i>
      </span>
    </a>

    <a href="https://reddit.com/user/softwaregg">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-reddit-alien fa-stack-1x"></i>
      </span>
    </a>

    <a href="{{ site.github.repo }}/public/docs/resume_cv.pdf">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-file-text fa-stack-1x"></i>
      </span>
    </a>
  </div>

  <div class="sidebar-item">
    <p style="text-align: center;" class="sidebar-description">{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Blog</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | sort:"url" %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

  <div class="sidebar-item">
      <p>
        &copy; {{ site.time | date: '%Y' }}. All rights reserved.
      </p>
  </div>
</div>
