/* Main Style */
body {
    background-color: black;
    color: white;
}

#title h1 {
    margin-top: 75px;
    font-size: 50px;
}

.center {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

@media only screen and (max-width: 400px) {
    .center {
        width: 90%;
    }
}

/* Content */
#content {
    margin-top: 50px;
}

#location, #description, #temperature {
    font-size: 30px;
}

#scale {
    background: none;
    border: none;
    outline: none;
}

#scale:hover {
    color: red;
}

/* Loading */
.loading {
    font-size: 30px;
}

/*  Taken from https://codepen.io/thetallweeks/pen/yybGra s*/
.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 1300ms infinite;
  animation: ellipsis steps(4,end) 1300ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
